/* @override 
	http://localhost:8888/joomla/1.5/grid2/modules/mod_captifyContent/css/captifyContent.css
	http://localhost:8888/dev/newstream/modules/mod_captifyContent/css/captifyContent.css
*/

/* @group Mod Captify Sections */
 /* --- viewport configuration ---------------------------------------------------------- */
        .viewport, .ccItem{float: left; overflow: hidden;position: relative;}
        .viewport a, .ccItem a { display: block; position: relative;}
       .viewport a img { position: relative;}

        .viewport a span {
            display: none;
            font-size: 1.0em;
            font-weight: bold;
            height: 100%;
            padding-top: 35%;
            position: absolute;
            text-align: center;
            text-decoration: none;
            width: 100%;
            z-index: 100;
        }
            .viewport a span em {
                display: block;
                font-size: 0.45em;
                font-weight: normal;
            }

        /* --- Dark hover background ------------------------------------------------------------ */
        .dark-background {
            background: url(blackOverlay.png);
            color: #fff;
            text-shadow: #000 0px 0px 20px;
        }
            .dark-background em {
                color: #ccc;
            }

        /* --- Light hover background ----------------------------------------------------------- */
        .light-background {
            background: url(whiteOverlay.png);
            color: #333;
            text-shadow: #fff 0px 0px 20px;
        }
            .light-background em {
                color: #707070;
            }
div.ccClear {
	clear:both;
}
/* @end */


/* @group Mod Captify Sections */
div.captifyContent {margin:0}
/*div.captifyContent a {float: left;padding: 0;}*/
div.ccdark-background div.caption-top,div.ccdark-background div.caption-bottom {	color: #ffffff;	text-shadow: #000 0px 0px 20px; padding: 0.6em 1.2em 0.6em 1.2em;	 font-size: 12px;font-family: arial;	cursor: hover;border: 0px solid #334143;background: #000}
div.cclight-background div.caption-top,div.cclight-background div.caption-bottom {	color: #333333; text-shadow: #fff 0px 0px 20px;	padding: 0.6em 1.2em 0.6em 1.2em;	 font-size: 12px;font-family: arial;	cursor: hover;border: 0px solid #334143;background: #fff}

div.ccdark-background div.caption a, 
div.ccdark-background div.caption a {
	border: 0 none;	text-decoration: none;	background: #000000;padding: 0.3em;float: left;cursor:pointer}
div.cclight-background div.caption a, 
div.cclight-background div.caption a {
	border: 0 none;	text-decoration: none;	background: #ffffff;padding: 0.3em;float: left;cursor:pointer}
div.captifyContent div.caption-wrapper {float: left;cursor:pointer}
br.c { clear: both; }

.captifyTitle {clear: both;width: 94%}
/* @end */